*{
    padding: 0;
    margin: 0;
    flex: auto;
}
.parent{
    width: 1000px;
    height: 600px;
    margin: 10%;
}
.header{
    display: inline-block;
    width: 60em;
    margin: 10px;
    line-height: 10px;
   
}
.parent .header .logo{
    width: 40%;
    float: left;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}
.nav-bar{
    width: 60%;
    text-decoration: none;
}
.nav-Bar li{
    list-style: none;
}
.parent .header .nav-Bar a{
    margin: 10px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black;
}
#sign-up{
    background-color: #a891c7;
    border-radius: 10px;
}
.main{
    width: 60em;
    right: 90%;
    height: 500px;
    margin: 10px;
    text-align: center;
}
.main .section-Content{
    width: 40%;
    height: 90%;
    float: left;
    margin: 10px;
    padding: 10px;
}
.main .section-Content .title{
    width: 20em;
    margin: 20px;
    padding: 10px;
}
.main .section-Content .title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: rgb(34, 34, 59);

}
.main .section-Content .title p{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: orange;
}
.main .section-Content .description p{
    font-family: 'Nunito', sans-serif;
    margin: 20px;
}
.main .section-Content a{
    text-align: center;
    color: white;
    padding: 15px;
    display: inline-block;
    background-color: #a891c7;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}
.main .section-Content a:hover{
    background-color: gray;
}
.main .img{
    width: 300px;
    height: 300px;
    float: right;
}
